body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(10, 165, 35);
}

.content h1 {
    text-align: center;
    color: white;
}

span{
 color: black;
}
.content p{
    font-size: 25px;
    text-align: justify;
    max-width: 1000px;
}